<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc.timetab">

    <uses-permission android:name="android.permission.SET_ALARAM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sp1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.pc.notes.CreateNoteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MonActivity"
            android:label="@string/title_activity_mon" />
        <activity android:name=".FormActivity" />
        <activity
            android:name=".TueActivity"
            android:label="@string/title_activity_tue" />
        <activity
            android:name=".WedActivity"
            android:label="@string/title_activity_wed" />
        <activity
            android:name=".ThuActivity"
            android:label="@string/title_activity_thu" />
        <activity
            android:name=".FriActivity"
            android:label="@string/title_activity_fri" />
        <activity
            android:name=".SatActivity"
            android:label="@string/title_activity_sat" />
        <activity android:name=".UpdateActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AlarmActivity" />

        <receiver android:name=".AlarmBroadcastReceiver" />

        <activity
            android:name=".FirstActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name="com.example.pc.notes.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".AlarmBroadcastReceiver" />

        <activity android:name="com.example.pc.notes.UpdateNoteActivity" />
        <activity android:name=".AboutUsActivity"/>
    </application>

</manifest>